@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Practica Zapatillas</h1>
    <a class="btn btn-success" asp-controller="Zapatillas" asp-action="Zapatillas">Inicio</a>
</div>
